.Counterfactuals {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 10em;
    overflow:hidden;
}

.AddCounterfactuals {
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
    flex-direction: column;
    padding-top: 1em;
    border-bottom: thin dashed #DDDDDD;
}

.SpecCounterfactual {
    display:flex;
    justify-content:flex-start;
    flex-direction: row;
    align-items:flex-start;
    padding-right: 2em;
}

.SpecCounterfactual p {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
}

.InnerSpec {
    display:flex;
    justify-content:flex-start;
    flex-direction: row;
    align-items:flex-start;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1.35em;
}

.InnerSpec p {
    margin-left: 0.6em;
    margin-right: 0.5em;
    margin-top: 0.8em;
}

.SetCounterfactual {
    margin-top: -1.5em;
    display:flex;
    justify-content:flex-end;
    flex-direction: row;
    align-items:flex-end;
    padding-right: 2em;
    padding-bottom: 2em;
    width: 100%;
}

.SetCounterfactual p {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
}

.CounterfactualSelector {
    min-width: 120px;
}

.CounterfactualValueSelector {
    padding-top: 0.3em;
    min-width: 120px;
}

.CounterfactualWriter {
    padding-top: 0.6em;
    min-width: 180px;
}

.CounterfactualMulti {
    padding-top: 0.3em;
    width:350px;
}

.multiSelectContainer li:hover {
    background: #DDCC77;
    color: #000000;  
}

.searchBox {
    max-width: 100px;
}

.MadeCounterfactuals {
    display:flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 2.5em;
    padding-bottom: 1em;
    padding-left: 2.5em;
    gap:1em;
    overflow:hidden;
}

.CounterfactualEntry {
    display:flex;
    justify-content:flex-end;
    flex-direction: row;
    gap:1em;
    width:100%;
}

.CounterfactualEntry h3 {
    margin-right: 2em;
    margin-top: 1.6em;
}

.MadeCounterfactual {
    display:flex;
    justify-content:space-between;
    flex-direction: row;
    align-items:flex-start;
    padding-right: 2em;
    width:100%
}

.ModalAgentCounterfactuals {
    display:flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1em;
    padding-left: 2.5em;
    gap:1em;
    overflow:hidden;
}

.ModalMadeCounterfactuals {
    display:flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 1em;
    padding-left: 2.5em;
    gap:1em;
    overflow:hidden;
}

.ModalCounterfactualEntry {
    display:flex;
    justify-content: flex-end;
    flex-direction: row;
    gap:1em;
    width:100%;
}

.ModalCounterfactualEntry h3 {
    margin-right: 2em;
    margin-top: 1.6em;
}

.ModalMadeCounterfactual {
    display:flex;
    justify-content:space-between;
    flex-direction: row;
    align-items:flex-start;
    padding-right: 2em;
    width:100%
}

