.Counterfactuals {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 10em;
    overflow:hidden;
}

.AddCounterfactuals {
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 1em;
}

.SpecCounterfactual {
    display:flex;
    justify-content:flex-start;
    flex-direction: row;
    align-items:flex-start;
    padding-right: 2em;
}

.SpecCounterfactual p {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
}

.InnerSpec {
    display:flex;
    justify-content:flex-start;
    flex-direction: row;
    align-items:flex-start;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}

.InnerSpec p {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.2em;
}


.SetCounterfactual {
    margin-top: -1.5em;
    display:flex;
    justify-content:flex-end;
    flex-direction: row;
    align-items:flex-end;
    padding-right: 2em;
    padding-bottom: 2em;
    width: 100%;
}

.SetCounterfactual p {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
}

.CounterfactualSelector {
    min-width: 120px;
}

.CounterfactualWriter {
    min-width: 180px;
}


