.Queries {
    display:flex;
    flex-direction:column;
    padding-left: 4em;
    padding-bottom: 6em;    
}

.QueryHeader {
    display: flex;
    flex-direction: row;
}

.QueryHeader i {
    padding-top: 2.3em;
}

.Query {
    display: flex;
    flex-direction: row;
    padding-left: 2em;
}

