.StateButtons {
    display:flex;
    flex-direction:row;
}
.StateButtons button {
    appearance: none;
    width: fit-content;
    height: fit-content;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Roboto",-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    margin-right: 1%;
}

.StateButtons button:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.StateButtons button:hover {
    background-color: #2c974b;
}

.StateButtons button:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.StateButtons button:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.StateButtons button:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
.add_agent {
    transform: scale(0.7);
    background-color: #88CCEE!important;
    margin-bottom: 10px;
    margin-top: 20px;
}
.delete_agent {
    transform: scale(0.7);
    background-color: #882255!important;
    margin-bottom: 10px;
    margin-top: 20px;
}
.start {
    background-color: #0077BB!important;
    margin-bottom: 10px;
    margin-top: 20px;
}
.resume {
    background-color: #117733!important;
    margin-bottom: 10px;
    margin-top: 20px;
}
.pause {
    background-color: rgb(211, 133, 17)!important;
    margin-bottom: 10px;
    margin-top: 20px;
}
.query {
    background-color: violet!important;
    margin-bottom: 10px;
    margin-top: 20px;
}
.move_factual {
    background-color: #999933!important;
    margin-bottom: 10px;
    margin-top: 20px;
}
.move_existential {
    background-color: #44AA99!important;
    margin-bottom: 10px;
    margin-top: 20px;
}
.stop_factual {
    background-color: darkred!important;
    margin-bottom: 10px;
    margin-top: 20px;
}
.stop_existential {
    background-color: orchid!important;
    margin-bottom: 10px;
    margin-top: 20px;
}
.addcounterfac {
    transform: scale(0.7);
    background-color: mediumslateblue!important;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

