.App {
    text-align: left;
    font-weight: 600;
    color: Black;
    text-shadow:
    -1px -1px 0 #EEE,
    1px 1px 0 #EEE;
    background-color: #F8F8F8;
}
.Modify-wrap {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 1em;
    overflow:hidden;
}
.Agents-wrap {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 10em;
    overflow:hidden;
}
.dial-wrap {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 10em;
    overflow:hidden;
}
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
