.Agents {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    gap: 1em;
    overflow:hidden;
}

.AgentsHeader {
    margin-top: -1.5em;
    display: flex;
    align-items: center;
}

.AgentsHeader h2 {
    margin-top: 1.1em;
    margin-right: 0.1em;
}

.AgentsHeader button {
    margin-left: auto;
}
