.angle-dialwrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    float: left;
    overflow:scroll;
}